<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: 'Courier New', monospace;
            line-height: 1.4;
            font-size: 12px;
            white-space: pre;
        }
    </style>
</head>
<body>
    {% for line in content %}
    {{- line -}}
    {% endfor %}
</body>
</html> 